{% extends 'base.html' %}

{% block title %}Login | Movie Reviews{% endblock %}

{% block content %}
<div class="container" style="max-width: 420px; margin-top: 80px;">

    <h2 class="mb-4 text-center">Login</h2>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Username</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            {{ form.password }}
        </div>

        <button type="submit" class="btn btn-dark w-100">
            Login
        </button>
    </form>

    <p class="text-center mt-3">
        Don’t have an account?
        <a href="{% url 'signup' %}">Sign up</a>
    </p>

</div>
{% endblock %}
